html
{
    width : 100%;
    height : 100%;
    margin: 0;
}
:root
{
    --accent : 255,255,255;
    --body-color : black;
}
body
{
    overflow: hidden;
    color : rgb(var(--accent));
    width : 100%;
    height : 100%;
    margin: 0;
    background-color: var(--body-color);
    font-family: 'Courier New', Courier, monospace;
    user-select: none;
}
.note
{
    position: relative;
    display : inline-block;
    border: solid 4px rgb(var(--accent));
    border-radius: 8px;
    background-color: rgba(var(--accent),0);
    margin: 16px;
}
.title
{
    margin-right: 16px;
    margin-top: auto;
    margin-bottom: auto;
}
.fill
{
    box-sizing: border-box;
    padding : 16px;
    width : 100%;
    height : 100%;
    margin: 0;
    position:relative;
    display : inline-block;
    box-sizing: border-box;
    transform: scale(1);
    outline : solid 6px rgba(var(--accent),0);
    outline-offset: -4px;
    border-radius: 2px;
    transition: all 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.fill:focus
{
    outline : solid 6px rgba(var(--accent),0.25);
    /*background-color: rgba(var(--accent),0.25);*/
}
.header
{
    border: none;
    border-bottom: solid 4px rgb(var(--accent));
    width: 100%;
    top:0;
    height : 64px;
    display:flex;
    justify-content:space-between;
}
.scroll_area
{
    overflow: scroll;
    width: 100%;
    height : calc(100% - 64px);
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
    align-content : start;
    align-items: center;
    box-sizing: border-box;
    padding-top: 32px;
    padding-bottom: 32px;
}
.scroll_area_other
{
    overflow: scroll;
    width: 100%;
    height : calc(100% - 64px);
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
    align-content : start;
    align-items: center;
    box-sizing: border-box;
    padding-top: 32px;
    padding-bottom: 32px;
}
.note_button
{
    display: block;
    border: solid 4px rgb(var(--accent));
    border-radius: 8px;
    padding: 16px;
    margin : 16px;
    position: relative;
    transform: scale(1,1);
    transition: all 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
    background-color: rgba(var(--accent),0);
    cursor: pointer;
    text-decoration: none;
}
.new_notebook
{
    width : 48px;
    height : 48px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 8px;
    font-size: 32px;
    line-height: 0;
    transition: all 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
    cursor: pointer;
}
.new_note
{
    margin: 16px;
    position: relative;
    color : rgb(var(--accent));
    background-color: rgba(var(--accent),0);
    border: solid 4px rgb(var(--accent));
    border-radius: 8px;
    transition: all 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
    width : 48px;
    height : 48px;
    display: flex;
    overflow : hidden;
}
.new_note_expand
{
    width : 184px;
    height : 88px;
}
.new_note_expand_button
{
    height : 32px;
    width: 128px;
    left : 48px;
    position: absolute;
}
.new_note_hover
{
    transform: scale(1.2,1.2);
    background-color: rgba(var(--accent),0.25);
}
.new_note_plus
{
    position: absolute;
    top : 24px;
    left : 24px;
    transform : translate(-50%, -50%) rotate(0deg);
    font-size: 32px;
    line-height: 0;
    background-color: #00000000;
    border: none;
    color:rgb(var(--accent));
    width : 48px;
    height : 48px;
    transition: all 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.new_note_plus_open
{
    transform: translate(-50%,-50%) rotate(45deg);
}
.button_anims
{
    --scale-factor-x : 5;
    --scale-factor-y : 5;
    color : rgb(var(--accent));
    background-color: rgba(var(--accent),0);
    border: solid 4px rgb(var(--accent));
    border-radius: 8px;
    transition: all 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
    cursor: pointer;
}
.button_anims:hover
{
    transform: scale(var(--scale-factor-x),var(--scale-factor-y));
    background-color: rgba(var(--accent),0.25);
}
.menu
{
    display: block;
    padding : 16px;
    position : relative;
    top : 0px;
    transform: translate(-25%,-100%);
    margin:auto;
    background-color: aliceblue;
    width : 64px;
    height : 64px;
}
.handle
{
    color : black;
    display : flex;
    justify-content: center;
    box-sizing: border-box;
    padding : 2px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    position:absolute;
    top:-24px;
    left : 50%;
    font-size: 14pt;
    transform : translateX(-50%);
    background-color: rgba(var(--accent),0.25);
    width : 48px;
    height : 24px;
    opacity: 0;
    transition: all 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
    cursor: move;
}
.handle:hover
{
    background-color: rgba(var(--accent),0.5);
}
.button_anims:hover .handle
{
    opacity: 1;
}
.ghost
{
    transform: scale(0.6,0.6);
    --accent : 100,100,255;
    background-color: rgba(var(--accent),0.25);
}
.delete
{
    pointer-events: none;
    color : black;
    display : flex;
    justify-content: center;
    padding : 0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    position:absolute;
    bottom:-24px;
    left : 50%;
    transform-origin: top;
    transform : translateX(-50%);
    background-color: rgba(255,0,0,0.25);
    width : 32px;
    height : 20px;
    opacity: 0;
    transition: all 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
    font-family: Arial, Helvetica, sans-serif;
    cursor: crosshair;
}
.delete:hover
{
    background-color: rgba(255,0,0,0.5);
}
.button_anims:hover .delete
{
    pointer-events: all;
    opacity: 1;
    transform : scale(calc(1/var(--scale-factor-x)),calc(1/var(--scale-factor-y))) translateX(-50%);
}
.button_anims:hover .handle
{
    transform : scale(calc(1/var(--scale-factor-x)),calc(1/var(--scale-factor-y))) translateX(-50%);
}
.button_anims:hover .fill
{
    transform : scale(calc(1/var(--scale-factor-x)),calc(1/var(--scale-factor-y)));
    outline-offset: 0px;
}

.break
{
    position: relative;
    width : 100%;
    height: 64px;
    background-color: #00000000;
}
.break .eek
{
    background-color: rgb(var(--accent));
    position: absolute;
    width : 100%;
    height: 4px;
    top:50%;
    transform: translateY(-50);
}
.delete_sect
{
    color : var(--body-color);
    display : flex;
    justify-content: center;
    align-items: center;
    padding : 0;
    border-radius: 8px;
    position:absolute;
    left : 50%;
    transform : translateX(-50%);
    top: 18px;
    background-color: rgb(var(--accent));
    width : 32px;
    height : 32px;
    opacity: 0;
    transition: all 0.3s ease;
    font-family: Arial, Helvetica, sans-serif;
    opacity : 0;
    cursor: crosshair;
}
.delete_sect:hover
{
    transform: translateX(-50%) scale(1.1,1.1);
}
.break:hover .delete_sect
{
    opacity : 1;
}
.title
{
    background-color: #00000000;
    color: rgb(var(--accent));
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 24pt;
    border : none;
    width : 50%;
    text-align: right;
    position : relative;
    transform: scale(1,1);
    transform-origin: right;
    transition: all 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.title:hover
{
    transform: scale(1.1,1.1);
}
.title:focus
{
    text-shadow : 0px 0px 4px grey;
    text-decoration: underline;
    border-radius: 4px;
    outline : none;
}

span
{
    
    max-width: 50vw;
    height:auto;
}
img
{
    width:100%;
    height:auto;
}