body
{
    margin : 0px;
    background-color: black;
}
.bgimage
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    aspect-ratio: 16/9;
    opacity: 50%;
}
.searchbar
{
    font-family: 'Courier New';
    background-color: #252525;
    color : white;
    margin : auto;
    position : absolute;
    top : 55%;
    left : 50%;
    transform: translate(-50%,-50%) scale(0.9,0.9);
    width: 50%;
    padding:16px;
    border : 4px solid grey;
    border-radius: 16px;
    font-size: 18px;
    transition : all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-delay: 0;
    box-shadow: 8px 8px 16px #00000075;
}
.searchbar:hover
{
    color : black;
    background-color: white;
    transform: translate(-50%,-50%) scale(1,1);
}
.logo
{
    letter-spacing: 4px;
    font-size: 100px;
    color : white;
    text-shadow: 0px 0px 8px white;
    margin : auto;
    position : absolute;
    top : 50%;
    left : 50%;
    transform-origin:middle center;
    transform: translate(-50%,-50%) scale(0.9,0.9);
    transition : all 0.75s ease;
    /*transition : all 0.3s ease-out;*/
    transition-delay : 0;
    user-select : none;
    pointer-events : none;
}
.logo_hover
{
    letter-spacing: 18px;
    transform: translate(-50%,-50%) scale(1.1,1.1) rotate(-3deg);
}
.logo_container
{
    /*background-color: black;*/
    width: 512px;
    height : 90px;
    position: absolute;
    top : 35%;
    left : 50%;
    transform: translate(-50%,-50%);
    border-radius: 45px;
}
.corner_button
{
    font-size: 32px;
    position: absolute;
    height : 48px;
    width : 50px;
    left : 4px;
    bottom : 4px;
    color : var(--text-color);
    background-color: color-mix(in srgb, var(--accent-color), #00000000 75%);
    margin:0;
    padding:2px;
    border: 0;
    border-radius: 8px;
    justify-content: center;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.corner_button:hover
{
    margin:auto;
    background-color: #55555599;
}
.bookmark_input
{
    max-width: 384px;
    width : 100%;
    font-family: 'Courier New';
    margin : 0;
    position : relative;
    background-color: black;
    color : white;
    border : 3px solid white;
    border-radius: 8px;
    padding : 8px;
}
.bookmark_menu
{
    position : absolute;
    background-color : #00000075;
    padding: 8px;
    border-radius: 16px;
    left: 50%;
    top: 65%;
    transform: translateX(-50%);
    height : 53px;
    display: flex;
    z-index: 50;
}
.book_button
{
    font-size: small;
    color : #FFFFFF00;
    text-decoration: none;
    margin: auto;
    top : 0px;
    background-color: black;
    border : 3px solid white;
    width : 48px;
    height : 48px;
    border-radius: 8px;
}
.button_animation
{
    transform: scale(0.9,0.9);
    transition : all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-delay: 0;
    cursor: pointer;
}
.button_animation:hover
{
    transform: scale(1.1,1.1);
    background-color: #252525;
    color : white;
}
.book_img
{
    font-family: Arial;
    user-select: none;
    font-size: 33px;
    color : white;
    width : 75%;
    height : 75%;
    border-radius : 8px;
    position : absolute;
    top : 50%;
    left : 50%;
    transform: translate(-50%, -50%);
}
.book_text
{
    position : absolute;
    top : -100%;
    left : 50%;
    transform: translateX(-50%);
    text-wrap: nowrap;
}
.bookmark_input_menu
{
    color : white;
    width : 216px;
    z-index: 100;
    position: absolute;
    align-items: center;
    top : 50%;
    left : 50%;
    transform: translate(-50%,-50%);
    background-color: #252525;
    border: 4px solid grey;
    border-radius: 16px;
    padding : 16px;
    box-shadow: 8px 8px 16px #00000075;
    overflow: scroll;
    overflow-wrap: anywhere;
}
.hidden
{
    display: none;
}