:root
{
    --logo-rotate : 3deg;
}
body
{
    margin : 0px;
    background-color: black;
}
.bgimage
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    user-select: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    aspect-ratio: 16/9;
    opacity: 50%;
}
.searchbar
{
    font-family: 'Courier New';
    background-color: #252525;
    color : white;
    margin : auto;
    position : absolute;
    top : 55%;
    left : 50%;
    transform: translate(-50%,-50%) scale(0.9,0.9);
    width: 50%;
    padding:16px;
    border : 4px solid grey;
    border-radius: 16px;
    font-size: 18px;
    transition : all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-delay: 0;
    box-shadow: 8px 8px 16px #00000075;
}
.searchbar:hover
{
    color : black;
    background-color: white;
    transform: translate(-50%,-50%) scale(1,1);
}
.logo
{
    letter-spacing: 0.5vw;
    font-size: 8vw;
    color : white;
    text-shadow: 0px 0px 8px white;
    margin : auto;
    position : absolute;
    top : 50%;
    left : 51%;
    transform-origin : middle center;
    transform : translate(-50%,-50%) scale(0.9,0.9);
    transition : all 0.75s ease;
    /*transition : all 0.3s ease-out;*/
    transition-delay : 0;
    user-select : none;
    pointer-events : none;
}
.logo_hover
{
    letter-spacing: 1.2vw;
    transform: translate(-50%,-50%) scale(1.0,1.0) rotate(var(--logo-rotate));
}
.logo_container
{
    /*background-color: black;*/
    width: 512px;
    height : 90px;
    position: absolute;
    top : 35%;
    left : 50%;
    transform: translate(-50%,-50%);
    border-radius: 45px;
}
.corner_button
{
    font-size: 32px;
    position: absolute;
    height : 48px;
    width : 50px;
    left : 4px;
    bottom : 4px;
    color : var(--text-color);
    background-color: color-mix(in srgb, var(--accent-color), #00000000 75%);
    margin:0;
    padding:2px;
    border: 0;
    border-radius: 8px;
    justify-content: center;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.corner_button:hover
{
    margin:auto;
    background-color: #55555599;
}
.bookmark_input
{
    max-width: 384px;
    width : 100%;
    font-family: 'Courier New';
    margin : 0;
    position : relative;
    background-color: black;
    color : white;
    border : 3px solid white;
    border-radius: 8px;
    padding : 8px;
}
.checkbox input
{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    content:"on";
}
.checkmark::after
{
    content: "off";
}
.checkbox input:checked ~ .button_animation
{
    background-color: #2196F3;
}
.checkbox input:checked ~ .checkmark::after
{
    content: "on";
}
.bookmark_menu
{
    position : absolute;
    background-color : #00000075;
    backdrop-filter: blur(8px);
    border-top : solid 2px #FFFFFF25;
    border-left : solid 2px #FFFFFF25;
    box-shadow: 2px 2px 8px #00000030;
    padding: 8px;
    border-radius: 16px;
    left: 50%;
    top: 68%;
    transform: translateX(-50%);
    /*height : 53px;*/
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 50;
}
.book_button
{
    display : default;
    position : relative;
    font-size: small;
    color : #FFFFFF00;
    text-decoration: none;
    top : 0px;
    background-color: black;
    border : 3px solid white;
    width : 48px;
    height : 48px;
    border-radius: 8px;
    z-index: 0;
}
.book_button:hover .book_delete
{
    opacity: 1;
    pointer-events : all;
}
.button_animation
{
    transform: scale(0.9,0.9);
    transition : all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-delay: 0;
    cursor: pointer;
}
.button_animation:hover
{
    transform: scale(1.1,1.1);
    background-color: #252525;
    color : white;
    z-index: 100;
}
.book_img
{
    font-family: Arial;
    user-select: none;
    font-size: 33px;
    color : white;
    width : 32px;
    height : 32px;
    border-radius : 8px;
    position : absolute;
    top : 50%;
    left : 50%;
    transform: translate(-50%, -50%);
}
.book_text
{
    position : absolute;
    top : -100%;
    left : 50%;
    transform: translateX(-50%);
    text-wrap: nowrap;
}
.bookmark_input_menu
{
    color : white;
    width : 216px;
    height : 128px;
    max-width: 90%;
    max-height: 90%;
    z-index: 100;
    position: absolute;
    align-items: center;
    top : 50%;
    left : 50%;
    transform: translate(-50%,-50%);
    background-color: #252525;
    border: 4px solid grey;
    border-radius: 16px;
    padding : 16px;
    box-shadow: 8px 8px 16px #00000075;
    overflow-y: auto;
    overflow-wrap: anywhere;
    user-select: none;
}
::-webkit-scrollbar
{
    width: 8px;
}
::-webkit-scrollbar-track
{
    background: #00000000;
}
::-webkit-scrollbar-thumb
{
    background: grey;
    border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover
{
    background: #555;
}
.hidden
{
    display: none;
}
.book_delete
{
    pointer-events: none;
    opacity: 0;
    margin : auto;
    text-align: center;
    color: white;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 24px;
    width : 24px;
    bottom: -26px;
    background-color: #00000075;
    border : 0;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    transition: all 0.3s ease;
    cursor: crosshair;
}
.book_delete:hover
{
    background-color: white;
    color : black;
}
.widget
{
    background-color: #00000075;
    backdrop-filter: blur(8px);
    /*border : solid 3px #00000050;*/
    border-top : solid 2px #FFFFFF25;
    border-left : solid 2px #FFFFFF25;
    box-shadow: 2px 2px 8px #00000030;
    border-radius : 8px ;
    width : 20%;
    height : 55%;
    position : absolute;
    top : 46.5%;
    transform : translateY(-50%);
    user-select: none;
    padding-top: 0px;
}
.anims
{
    transform: scale(1,1);
    transition : all 0.75s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-delay : 0;
}
.anims:hover
{
    transform: scale(1.25,1.25);
}