.time_text
{
    font-size: 60;
    color : white;
    margin : auto;
    margin-top: 16px;
    margin-bottom: -24px;
    text-align : center;
}
.font_smaller
{
    font-size: 30px;
}
iframe
{
    border : none;
    border-radius: 8px;
    width : 100%;
    height : 100%;
    overflow: hidden;
}
.iframe_widget
{
    zoom : 0.8;
}