body
{
    font-family: 'Courier New', Courier, monospace;
    margin : auto;
    text-align: center;
    background-color: #202020;
    color : white;
    user-select: none;
}
form
{
    background-color: #303030;
    border: gray solid 4px;
    border-radius: 16px;
    padding-bottom : 24px;
    text-align: center;
    width : 35%;
    position : absolute;
    top : 55%;
    left : 50%;
    transform: translate(-50%,-50%);
    box-shadow: 8px 8px 16px #00000080;
}
.inner
{
    background-color: #111111;
    display: flex;
    flex-direction: column;
    border-top : gray solid 4px;
    border-bottom : gray solid 4px;
    padding : 16px;
    padding-left: 128px;
    margin-bottom: 16px;
}
.labels
{
    width:118px;
    height:100%;
    padding:0;
    text-align: right;
    position : absolute;
    left:0;
    line-height: 53px;
}

input
{
    display : default;
    position : relative;
    text-decoration: none;
    top : 0px;
    background-color: black;
    border : 3px solid white;
    border-radius: 8px;
    color : white;
    padding : 8px;

    font-family: 'Courier New', Courier, monospace;
    margin: 8px;
}
.button_animation
{
    transform: scale(1,1);
    transition : all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-delay: 0;
    cursor: pointer;
}
.button_animation:hover
{
    transform: scale(1.1,1.1);
    background-color: #252525;
    color : white;
    z-index: 100;
}