.main_div_acc
{
    background-color: #000000AA;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    box-sizing: border-box;
    width: 100%;
    border: solid white 4px;
    border-radius: 8px;
    position: absolute;
    bottom: 0px;
}
#curr_user
{
    margin: 0px;
    padding: 0px;
    font-size: 8px;
    line-height: 4px;
}
#curr_user h1
{
    margin: 0px;
    padding: 0px;
    font-size: 18px;
    line-height: 18px;
}
.profile_button
{
    background-color: black;
    border: solid white 4px;
    border-radius: 8px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    padding: 8px;
    cursor: pointer;
    width: 42px;
    height: 42px;
    margin: 4px;
}
.profile_button:hover
{
    background-color: #202020;
}
.profile_menu
{
    position: absolute;
    top: -128px;
    right: 10px;
    background-color: #000000AA;
    border: solid white 4px;
    border-radius: 8px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    box-shadow: 0px 0px 16px #00000080;
    z-index: 1000;
}
.hidden
{
    display: none;
}