body
{
    margin : 0;
}
:root
{
    --topagain : 0px;
    --leftagain : 0px;
    --accent-color : black;
    --text-color : white;
}
.workspace
{
    background-color: black;
    width: 100%;
    height: 100%;
    overflow:hidden;
    user-select: none;
}
.tab_bar
{
    position : absolute;
    background-color : color-mix(in srgb, var(--accent-color), #00000000 50%);
    padding: 8px;
    border-radius: 16px;
    left: 50%;
    padding : 8px;
    bottom: 0;
    transform: translate(-50%, -50%);
    height : 32px;
    display: flex;
    z-index: 100;
}
.tab_button
{
    background-color: color-mix(in srgb, var(--accent-color), #00000000 25%);
    color: var(--text-color);
    font-size: 24;
    width:32px;
    height:32px;
    margin:0;
    padding:0;
    border: 2px solid var(--text-color);
    border-radius: 4px;
}
.tab_button:hover
{
    background-color: white;
    color: black;
}
.window
{
    position : absolute;
    background-color: white;
    width : 960px;
    height : 540px;
    border : 2px solid color-mix(in srgb, var(--accent-color), white 50%);
    border-radius: 16px;
    overflow : hidden;
    box-shadow: 8px 8px 16px #00000075;
    resize : both;
    min-height: 32px;
    min-width: 176px;
    max-height: calc(100% - var(--topagain) - 4px);
    max-width: calc(100% - var(--leftagain) - 4px);
    transition-delay: 0;
}
.header
{
    top : 0;
    position : relative;
    width:100%;
    height:32px;
    border-bottom: 2px solid color-mix(in srgb, var(--accent-color), white 50%);
    background-color: color-mix(in srgb, var(--accent-color), white 25%);
    display: flex;
}
.header_input
{
    width : calc(100% - 168px);
    height : 75%;
    position : relative;
    top : 4px;
    left : 4px;
    border : 2px solid color-mix(in srgb, var(--accent-color), grey 35%);
    border-radius: 8px;
    background-color: color-mix(in srgb, var(--accent-color), black 35%);
    color : var(--text-color);
}
.header_button
{
    position: absolute;
    height : 75%;
    width : 32px;
    top : 4px;
    color : var(--text-color);
    background-color: #00000000;
    margin:0;
    padding:2px;
    border: 0;
    border-radius: 8px;
    justify-content: center;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.header_button:hover
{
    margin:auto;
    background-color: #55555599;
}
.webcontent
{
    width : 100%;
    height : calc(100% - 52px);
    position : relative;
    top: 0;
    border : 0;
    zoom : 0.65;
}
.tab_img
{
    background-color: #00000000;
    width:32px;
    height:32px;
    margin:0;
    padding:2px;
    border: 0;
    border-radius: 4px;
    overflow: hidden;
}
.tab_img:hover
{
    margin:auto;
    background-color: #55555599;
}
.click_disable
{
    pointer-events: none;
}
.minimized
{
    resize: none;
    /*width : 128px;
    height : 32px;
    min-width: 128px;
    min-height: 32px;
    max-width: 128px;
    max-height: 32px;*/
    opacity: 0;
    min-width: 0;
    min-height: 0;
    max-width: 0;
    max-height: 0;
}
.maximized
{
    resize: none;
    width : 100%;
    height : 100%;
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;
    border : none;
    border-radius: 0;
}
.corner_button
{
    position: absolute;
    height : 32px;
    width : 32px;
    bottom : 4px;
    color : var(--text-color);
    background-color: color-mix(in srgb, var(--accent-color), #00000000 75%);
    margin:0;
    padding:2px;
    border: 0;
    border-radius: 8px;
    justify-content: center;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.corner_button:hover
{
    margin:auto;
    background-color: #55555599;
}
.hover_hidden
{
    opacity: 0.0;
    transition: all 0.7s ease-out;
    transition-delay: 0;
}
.hover_hidden:hover
{
    opacity: 1.0;
}
.menu_section
{
    box-sizing: border-box;
    padding: 8px;
    color : var(--text-color);
    width : 100%;
    background-color: #80808080;
    border-radius: 16px;
    border : 0;
}
.menu_button
{
    color : var(--text-color);
    padding : 8px;
    border : 2px var(--text-color) solid;
    background-color: var(--accent-color);
    border-radius: 16px;
}