body
{
    background-color: black;
    display : grid;
}
textarea
{
    width : 50%;
    height : 128px;
    margin: auto;
    margin-bottom: 16px;
    font-size: 12pt;
    padding: 16px;
    border : solid grey 4px;
    border-radius: 8px;
    overflow-wrap:break-word;
    max-width: 75%;
}
button
{
    margin : auto;
    width : 25%;
    border : solid grey 4px;
    border-radius: 8px;
    padding : 16px;
    margin-bottom: 32px;
    font-size: 12pt;
    font-weight: bold;
    position : relative;
    transform: scale(1,1);
    transition: all 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
}
button:hover
{
    position : relative;
    transform: scale(1.1,1.1);
}
p
{
    background-color: white;
    width : 75%;
    margin: auto;
    font-size: 12pt;
    padding: 16px;
    border : solid grey 4px;
    border-radius: 8px;
}
div
{
    margin : auto;
    margin-top : 32px;
    display: grid;
    width : 85%;
    background-color: #242424;
    padding: 32px;
    border : solid grey 4px;
    border-radius: 16px;
}
h1
{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 60pt;
    margin: auto;
}
h1 img
{
    width: 128px;
}