body
{
    background-color: #202020;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    color: white;
    overflow: hidden;
}
.message_list
{
    position: absolute;
    top: 53px;
    right : 8px;
    width: calc(100% - 400px);
    height: calc(100% - 277px);
    /*border: solid 4px #606060;*/
    margin: auto;
    overflow-y: scroll;
    padding: 32px 16px 128px 128px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: flex-start;
    z-index: 1;
}
.message_list li
{
    background-color: #404040;
    width : 75%;
    margin: 0;
    overflow-wrap: break-word;
    padding : 16px;
    color : white;
    border: solid 4px grey;
    border-bottom: none;
    font-size: 14pt;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.message_list li:nth-child(odd) { background-color: #303030; }
.message_list li:last-child { border-bottom: solid 4px grey; border-bottom-left-radius: 16px; border-bottom-right-radius: 16px; }
.message_list li:first-child {border-top-left-radius: 16px; border-top-right-radius: 16px; }

.username
{
    font-weight: bold;
    margin-right: 8px;
    flex-shrink: 0;
    width : auto;
    max-width: 30%;
    height: auto;
    filter: drop-shadow(0px 0px 2px #00000088);
}

.message-content
{
    white-space: pre-wrap;
    word-break: break-word;
}
.sendbox
{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 64px;
    background-color: #303030;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: left;
    align-items: left;
    border-top: solid 4px grey;
    z-index: 100;
    box-shadow: 0px 0px 32px black;
}

::-webkit-scrollbar
{
    width: 8px;
}
::-webkit-scrollbar-track
{
    background: #00000000;
}
::-webkit-scrollbar-thumb
{
    background: grey;
    border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover
{
    background: #555;
}
.title
{
    position: absolute;
    width: 100%;
    text-align: center;
    border-bottom: solid 4px grey;
    height : 42px;
    margin:0;
    padding-top: 6px;
    background-color: #303030;
    color: white;
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    z-index: 1000;
    box-shadow: 0px 0px 32px black;
}
.title:focus
{
    outline: none;
    text-decoration: underline;;
}
.message_input
{
    width : 60%;
    padding: 10px;
    font-size: 16px;
    border: solid 4px white;
    border-radius: 8px;
    margin-right: 10px;
    margin-left: 316px;
    background-color: black;
    color: white;
}
.message_input:hover
{
    background-color: #404040;
}
.send_button
{
    padding: 10px 20px;
    font-size: 16px;
    border: solid 4px white;
    border-radius: 8px;
    background-color: black;
    color: white;
    cursor: pointer;
}
.send_button:hover
{
    background-color: #404040;
}
.chatlist
{
    position: relative;
    list-style-type: none;
    padding: 0;
    margin: 0;
    top: -16px;
    width: 100%;
    height: calc(100% - 44px);
    overflow-y: auto;
    align-items: center;
}
.chatlist h2
{
    text-align: center;
    margin: 0 0 8px 0;
    padding: 0;
    font-size: 18px;
    border-bottom: solid 4px grey;
    background-color: black;
}
.chatlist li
{
    background-color: #404040;
    margin: 8px 0;
    width : 75%;
    padding: 12px;
    border: solid 4px grey;
    border-radius: 8px;
    cursor: pointer;
}
.chatlist li:hover
{
    background-color: #505050;
}
.chatlist li.selected
{
    background-color: #606060;
}
a
{
    color: white;
    text-decoration: none;
}
#chat_sidebar /*had no clue you could do this*/
{
    margin : 0px;
    position: absolute;
    top: 53px;
    left: 0px;
    width: 256px;
    height: calc(100% - 117px);
    z-index: 10;
    background-color: #303030;
    border-right: solid 4px grey;
    padding: 0px;
    box-sizing: border-box;
    box-shadow: 0px 0px 32px black;
}
#saved_chats /*had no clue you could do this*/
{
    margin : 0px;
    position: absolute;
    width: 90%;
    top: 0px;
    left : 14px;
    height: 50%;
    padding: 8px;
}
#members /*had no clue you could do this*/
{
    margin : 0px;
    position: absolute;
    width: 90%;
    top: 50%;
    left : 14px;
    height: calc(50% - 15px);
    padding: 8px;
}
.chat-time
{
    font-size: 10pt;
    color: grey;
    text-align: left;
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    height : 100%;
    position : absolute;
    left : 100%;
    top : 50%;
    transform: translateY(-50%);
    padding-left: 16px;
    width : 128px;
}
#accounttab
{
position: fixed;
bottom: 2px;
left:4px;
width: 300px;
z-index: 1000;
}
a
{
    color:blue;
    text-decoration: underline;
}

@media screen and (max-width: 800px) {
    .message_list
    {
        width: calc(100% - 16px);
        padding: 32px 8px 128px 8px;
    }
    .message_list.li
    {
        margin-left: 16px;
    }
    .message_input
    {
        width: calc(100% - 128px);
        margin-left: 8px;
    }
    .send_button
    {
        margin-right: 8px;
    }
    #chat_sidebar
    {
        display: none;
    }
    #accounttab
    {
        display: none;
    }
}

.new_chat
{
    background-color: #404040;
    margin: -16px 0px 24px 0px;
    width : 50%;
    padding: 4px;
    border: solid 4px grey;
    border-radius: 8px;
    cursor: pointer;
    color:white;
    font-size: 16px;
    font-weight: bold;
}
.new_chat:hover
{
    background-color: #505050;
}
.new_chat.selected
{
    background-color: #606060;
}